html {
    padding: 0;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin: 0;
}

* {
    margin: auto;
    padding: auto;

    @media only screen and (max-device-width: 900px) {
        /* .menu { width:600px; } */
    }

    @media only screen and (max-device-width: 700px) {
        /* .menu { width:400px; } */
    }
}

.all {
    width: 100%;
    box-sizing: inherit;
}

html body {
    font-size: 16px;
    line-height: 1.5
}

.subnav {
    float: left;
    overflow: hidden;
    border: none;
    outline: none;
    list-style: none;
    outline: none;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.subnav a{
    color: black;
}

.subnav:hover{
    display: block;
}

.nav-list {
    list-style: none;
    display: flex;
    overflow: hidden;
    outline: none;
}

.nav-list a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

nav {
    display: flex;
    align-items: center;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


#b3,
.b3 {
    color: white;
    background-color: #9d4edd;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
    transition: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;

}

#b3:hover,
.b3:hover {
    background-color: #410dfd;
    color: white;
    text-decoration: none;
    transition-duration: 0.8s;
}


@media (max-width: 999px) {
    body {
        overflow-y: hidden;
    }

    .nav-list {
        position: absolute;
        right: 0;
        top: 8vh;
        width: 50vw;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .b3,
    #b3,
    .support {
        cursor: pointer;
        display: none;
        position: none;
        z-index: -1;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.ab-company {
    text-align: right;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    display: inline-block;
    background-color: #f7f8f8;
}

.texto {
    display: table-cell;
    vertical-align: middle;
    max-width: 700px;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 300px;
    float: left;
    text-align: left;
    background-color: transparent;
}

.texto2 {
    display: table-cell;
    vertical-align: middle;
    max-width: 720px;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    margin: 0;
    text-align: left;
}

#logo {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 12px;
    margin-left: 300px;
    position: relative;
    display: block;
    background-color: transparent;
    margin-right: 0px;
}

.barra-responsiva {
    display: block;
    position: relative;
    background: #3a0ca3;
}

.container {
    max-width: 720px;
    position: relative;
    display: block;
    background: #3a0ca3;
}

.logo-responsivo menu {
    position: relative;
    display: block;
    background-color: transparent;
}

.Barra-de-navegacao {
    background: #480ca8;
    padding-bottom: 10px;
    display: flex;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-direction: row;
}


.naveg-de-item {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
    background: #3f37c9;
}

div.barra-de-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cabecalho {
    background: linear-gradient(#480ca8 0.0000002%,
            #3a0ca3 0.2%,
            #3f37c9 5%,
            #0d6efd,
            #0d6efd,
            #387fd1 55%);
}

.center-texts1 {
    text-align: center;
    line-height: 1.5;
    flex: 0 0 auto;
    width: 100%;
}

.center-texts {
    text-align: left;
    line-height: 1.5;
    flex: 0 0 auto;
    width: 100%;
}

.center-texts2 {
    text-align: right;
    line-height: 1.5;
    flex: 0 0 auto;
    width: 100%;
}

#text1 {
    font-weight: 700;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 55px;
    margin: 0 0 15px 0;
    text-align: left;
    line-height: 1.4;
}

.text2 {
    color: white;
    padding-bottom: 20px;
    width: 95%;
}

.text {
    text-align: right;
    align-items: right;
}

.Services {

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 200px 0;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
}

.img-text {
    display: flex;
    align-items: center;
}

.img1 {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    position: relative;
    object-position: top;
    left: -140px;
    z-index: 1;
}

.img2 {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.img3 {
    border-radius: 5px;
    position: relative;
    text-align: center;
    margin-left: 0px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 50%;
}

.img4 {
    border-radius: 5px;
    position: relative;
    text-align: center;
    margin-left: 0px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
}

.bts1 {
    text-align: left;
    z-index: 999;
}

#b1 {
    color: #410dfd;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    font-weight: 600;
    box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
    transition: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    margin-right: 20px;
}

#b1:hover {
    background-color: #410dfd;
    color: white;
    text-decoration: none;
    transition-duration: 0.8s;
}

#b2 {

    color: white;
    background-color: #410dfd;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
    box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
    transition: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;

}

#b2:hover {
    background-color: white;
    color: #410dfd;
    text-decoration: none;
    transition-duration: 0.8s;
}

h6 {
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 0;
    margin: 0;
}

h2 {
    color: #404040;
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0 0 0;
    line-height: 1.4;

}

h1,
h2,
h3,
h6 {
    font-family: 'Dosis, sans-serif';
    padding: 0;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin: 0;
}

p {
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: 'Catamaran', sans-serif;
}

#srv1,
#trs1 {
    flex-direction: column;
    margin: 5px;
    color: black;
    background: linear-gradient(to right, #9d4edd 0% 0, 000001%, white 1% 100%);
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    transition-property: all;
    width: 263px;
    height: 50px;
    box-shadow: inset 0 0 0 0 #9d4edd;
    transition: color .0s ease-in-out, box-shadow .0s ease-in-out;
}

#srv1:hover,
#trs1:hover {
    color: white;
    transition-duration: 0.8s;
    box-shadow: inset 1000px 0 0 0 #9d4edd;
}

div.header {
    text-decoration: none;
    color: white;
    position: relative;
    margin-left: 20px;
    display: flex;
    flex-direction: row;

}

em {
    float: right;
    font-size: 15px;
    font-style: normal;
}

.skills {
    box-sizing: border-box;
    display: block;
    width: 570px;
    height: 467px;
    margin: 0;
}

.skiil-item {
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
}

h4 {
    margin-bottom: 10px;
}

.skill-progress {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background-color: #f1f1fa;
    box-sizing: border-box;
    display: block;
}

.progress1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #7b68ee;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}

.support {
    text-align: right;
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.rectangle {
    position: relative;
    background: url(banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
    color: white;
    margin-bottom: 100px;
}

.choose {
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 100px 0;
    box-sizing: border-box;
    display: block;
}

.choose-img {
    border-radius: 5px;
    position: relative;
    text-align: center;
    margin-left: 0px;
    margin-right: 40px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 50%;
}

.trust {
    text-align: right;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    display: inline-block;
}

div.contador {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: auto;
    box-sizing: border-box;

}

div.container,
#txt {
    display: flex;
    flex-direction: row;
    background: transparent;
    font-size: 45px;
    margin-bottom: 5px;
    word-spacing: -5px;
    color: white;

}

#txt1 {
    font-size: 20px;
    word-spacing: 2px;
}

.serv {
    box-sizing: border-box;
    text-align: left;
    padding: 35px 30px;
    background-color: #ffffff;
    box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    display: grid;
    border-radius: 5px;
    width: 380px;
    height: 360px;
}

.clients {
    text-align: center;
}

.team-images {
    display: flex;
    flex-direction: row;
    width: 70%;
    text-align: center;
    margin-bottom: 100px;
}

#team {
    width: 90%;
    border-radius: 5px;
}

h5 {
    color: #3f37c9;

}

.blog {
    background-color: #f7f8f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

#blog {
    margin-top: 70px;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.work {
    position: relative;
    background: url(banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    padding: 100px 0;
    color: white;
    margin-bottom: 100px;
}

#client{
    max-width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: block;
}

.clients{
    display: flex;
    flex-wrap: wrap;
}

#client img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#client a{
    position: relative;
    display: block;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ededed;
    margin-bottom: 30px;
}